export SANDBOX_GIT_USER_EMAIL="developer@netsepctive.com"
export SANDBOX_GIT_USER_NAME="Developer Full Name"
export SANDBOX_GITHUB_PAT="<put PAT here>"
export SANDBOX_GITLAB_PAT="<put PAT here>"

# github.com/liquidata-inc/dolt utility settings
export SANDBOX_DOLT_USER_EMAIL="$SANDBOX_GIT_USER_EMAIL"
export SANDBOX_DOLT_USER_NAME="$SANDBOX_GIT_USER_NAME"

# github.com/profclems/glab utility settings
export GITLAB_TOKEN=$SANDBOX_GITLAB_PAT
export GITLAB_REPO=gitlab.example.com
export GITLAB_URI=