export SANDBOX_GIT_USER_EMAIL="developer@netsepctive.com"
export SANDBOX_GIT_USER_NAME="Developer Full Name"
export SANDBOX_GITHUB_PAT="<put PAT here>"
export SANDBOX_GITLAB_PAT="<put PAT here>"

# github.com/profclems/glab utility settings
export GITLAB_TOKEN=$SANDBOX_GITHUB_PAT
export GITLAB_REPO=gitlab.example.com
export GITLAB_URI=